/* Reset de estilos para garantir consistência em todos os navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Estilo para o contêiner principal */
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título da aplicação */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Estilo para a seção de pesquisa */
.search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Estilo para a entrada de texto */
input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Estilo para o botão de pesquisa */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para a seção de resultados */
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result-item {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.result-item:hover {
  transform: translateY(-5px);
}

.result-item h2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.result-item img {
  max-width: 100%;
  height: auto;
}

/* Estilo para os botões de informações adicionais */
.artist-info button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.artist-info button:hover {
  background-color: #0056b3;
}

/* Estilo para a seção de informações adicionais */
.additional-info {
  margin-top: 20px;
}

.additional-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.info-tabs {
  display: flex;
  margin-bottom: 20px;
}

.info-tabs button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.info-tabs button:hover {
  background-color: #0056b3;
}

/* Estilo para listas de informações */
ul, ol {
  list-style: none;
}

li {
  margin-bottom: 5px;
}

/* Estilo responsivo */
@media (max-width: 768px) {
  .results {
    flex-direction: column;
  }

  .result-item {
    width: 100%;
  }
}
